<div class="carro-detail" *ngIf="carro">
    <h2>{{carro.Modelo | uppercase}} [Details] </h2>    
    <div>
      <label for="carro-Modelo">Modelo do carro: </label>
      <input id="carro-Modelo" [(ngModel)]="carro.Modelo" placeholder="Modelo">
      <br><br>
    </div>
    <div>
      <label for="carro-Codigo">Código do carro: </label>
      <input id="carro-Codigo" [(ngModel)]="carro.Codigo" placeholder="Codigo">
      <br><br>
    </div>
    <div>
      <label for="carro-Preco">Preço: </label>
      <input id="carro-Preco" [(ngModel)]="carro.Preco" placeholder="Preco">
      <br><br>
    </div>
    <div>
      <label for="carro-Anodefabricaco">Ano de fabricação: </label>
      <input id="carro-Anodefabricaco" [(ngModel)]="carro.Anodefabricacao" placeholder="Ano de fabricação">
      <br><br>
    </div>
  </div>
  <br>